body {
  background-color: #000;
  margin: 0;
}

p {
  color: #fff;
}

section {
  position: relative;
  background: #00f;
  color: #fff;
  text-align: center;
}

section::before {
  position: absolute;
  content: '';
}

section.diagonal {
  background: #00f;
}

footer {
  position: relative;
  background: #000;
  color: #fff;
  text-align: center;
}

footer::before {
  position: absolute;
  content: '';
}

footer.diagonal {
  background: #000;
}

.diagonal {
  z-index: 1;
  padding: 3em;
}

.diagonal::before {
  transform: rotate(-3deg);
  transform-origin: 3% 0;
  top: 0;
  left: -25%;
  z-index: -1;
  width: 150%;
  height: 75%;
  background: inherit;
}
